#filter-container {
    font-size: 20px;
    padding:12px;
    border:rgb(66,66,66) 1px solid;
    border-radius:5px;
    background-color:white;
    width:30%;
    position:absolute;
    z-index:1;
    right:16px;
    top:16px;
}

#filter-container span {
font-size: 20px;
}

.filter {
    display: flex;
    flex-direction:column;
    padding: 8px;
    margin: 8px;
    border: 1px solid rgb(66,66,66);
    border-radius: 3px;
}

.filter-title {
    padding: 8px;
    font-size: 26px;
}

.dropdown {
    padding: 8px;
}

.slider {
    padding: 10px 0px;
}