.header {
    grid-area: 1 / 1 / 1 / 2;
    background-color: rgb(66,66,66);
    width:100vw;
    border-bottom:4px solid #21cab6;
    display: grid;
    grid-template-columns: 1fr / 5fr;
}

.header-control-icons {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 12px;
}

.header-control-icons img {
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
    padding: 12px 12px;
}

.header-icon-container {
    background-color:rgb(66,66,66);
    border: none;
}

.header-icon-container:hover {
    display: flex;
    place-items: center;
    background-color: #525252;
}